```plaintext
# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

Verificação de Maioridade

Descrição: Desenvolva um programa em Python que solicite ao usuário sua idade e verifique se o usuário é maior de idade (18 anos ou mais). O programa deve exibir uma mensagem informando se o usuário é maior ou menor de idade.

Funcionalidades obrigatórias:

1. Leitura da idade inserida pelo usuário.
2. Verificação se a idade é maior ou igual a 18 anos.
3 Exibição de uma mensagem indicando se o usuário é maior ou menor de idade.
Tecnologias: Python 3.x

Licença: MIT License
